Project/ProjectCarService/CarServiceUI/Connected Services/WCFCarService/PC3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/PC?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProjectCarService" />
  <xs:element name="AddClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="client" nillable="true" type="q1:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="auto" nillable="true" type="q2:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="comanda" nillable="true" type="q3:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="detaliuComanda" nillable="true" type="q4:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="imagine" nillable="true" type="q5:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="material" nillable="true" type="q6:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="mecanic" nillable="true" type="q7:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="operatie" nillable="true" type="q8:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="sasiu" nillable="true" type="q9:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuto">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllAutoResult" nillable="true" type="q10:ArrayOfAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoByClientId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoByClientIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAutoByClientIdResult" nillable="true" type="q11:ArrayOfAuto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClients">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllClientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllClientsResult" nillable="true" type="q12:ArrayOfClient" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllComandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllComandsResult" nillable="true" type="q13:ArrayOfComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMaterials">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMaterialsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllMaterialsResult" nillable="true" type="q14:ArrayOfMaterial" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMecanics">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMecanicsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllMecanicsResult" nillable="true" type="q15:ArrayOfMecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetailsCommands">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDetailsCommandsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllDetailsCommandsResult" nillable="true" type="q16:ArrayOfDetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagies">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllImagiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllImagiesResult" nillable="true" type="q17:ArrayOfImagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetOperationsResult" nillable="true" type="q18:ArrayOfOperatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChassis">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllChassisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAllChassisResult" nillable="true" type="q19:ArrayOfSasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiuByCodeAndName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiuByCodeAndNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetSasiuByCodeAndNameResult" nillable="true" type="q20:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetClientResult" nillable="true" type="q21:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSasiuResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetSasiuResult" nillable="true" type="q22:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAutoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetAutoResult" nillable="true" type="q23:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetComandaResult" nillable="true" type="q24:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetDetaliuComandaResult" nillable="true" type="q25:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetImagineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetImagineResult" nillable="true" type="q26:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMaterialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetMaterialResult" nillable="true" type="q27:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMecanicResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetMecanicResult" nillable="true" type="q28:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOperatieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="GetOperatieResult" nillable="true" type="q29:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientAutoSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idClient" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientAutoSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clientId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="autoId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="comandaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="materialId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="mecanicId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="operatieId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sasiuId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="detaliuComandaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="imagineId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteImageResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="client" nillable="true" type="q30:Client" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateClientResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAuto">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="auto" nillable="true" type="q31:Auto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateAutoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="comanda" nillable="true" type="q32:Comanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetaliuComanda">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="detaliuComanda" nillable="true" type="q33:DetaliuComanda" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateDetaliuComandaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImaine">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="imagine" nillable="true" type="q34:Imagine" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateImaineResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterial">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="material" nillable="true" type="q35:Material" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMaterialResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMecanic">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="mecanic" nillable="true" type="q36:Mecanic" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMecanicResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperatie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="operatie" nillable="true" type="q37:Operatie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateOperatieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSasiu">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/ProjectCarService" minOccurs="0" name="sasiu" nillable="true" type="q38:Sasiu" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSasiuResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>